@import "../../../../data/shared-styles/variables-mixins.scss";

.privacy-policy {
  z-index: 10;
  background-color: rgb(63, 63, 63);
  color: white;
  width: 100%;
  width: 100vw;
  height: auto;
  position: fixed;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  p {
    margin: 10px;
    font-size: 12px;
  }
  button {
    margin: 5px;
    font-size: 12px;
    opacity: 1;
    border: none;
    border-radius: 3px;
    background-color: $mainRedcolor;
    color: white;
    &:hover {
      cursor: pointer;
    }
  }
  a {
    color: rgb(113, 113, 255);
    text-decoration: none;
  }
  
}

@media only screen and (max-width: 768px) {
  .privacy-policy {
    height: auto;
  }
}
