@import "../../../../data/shared-styles/variables-mixins.scss";

#treatments {
  background-color: white;
}

.group-sessions-wrapper {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $mainGreenColor;
  .heading {
    @include headerStyle(row-reverse, white, 35px, 30px);
  }
}

.group-sessions-description {
  border-bottom: 1px solid rgb(255, 255, 255);
  border-top: 1px solid rgb(255, 255, 255);
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 35px;
}

.session-types-sentence {
  color: white;
  max-width: 40rem;
  text-align: justify;
  margin: 20px;
  font-family: Work Sans;
  font-size: $miniFontSize;
}

.group-sessions-description > p,
h5 {
  color: rgb(255, 255, 255);
  width: 90%;
  font-family: Arbutus Slab;
}

.group-sessions-description > h5 {
  font-size: $miniFontSize;
  font-family: Arbutus Slab;
  margin-top: 3px;
  margin-bottom: 6px;
  span {
    font-weight: 100;
    font-style: normal;
    font-family: Work Sans;
  }
}

.group-sessions-description > h1 {
  margin-top: 20px;
  font-family: Arbutus Slab;
  font-size: $smallFontSize;
  color: white;
}

.group-sessions-description > :first-child {
  margin-top: 20px;
}

.group-sessions-details {
  border: none;
  margin-bottom: 15px;
}

.group-sessions-description > p {
  font-family: Work Sans;
  font-weight: 100;
  line-height: $smallLineHeight;
  font-size: $miniFontSize;
}

.group-sessions-description {
  line-height: $smallLineHeight;
  color: rgb(0, 0, 0);
  z-index: 0;
  max-width: 45rem;
  text-align: justify;
}

.group-sessions-table-wrapper {
  width: 100%;
  display: flex;
  margin-bottom: 30px;
  -ms-overflow-style: none; /* IE 11 */
  scrollbar-width: none; /* Firefox 64 */
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}
.group-sessions-table {
  margin: 0 auto;
  position: relative;
  max-width: 45rem;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  .table-header {
    height: 50px;
    color: white;
  }
  .table-row {
    margin: 5px 10px 5px 10px;
    background-color: white;
    box-shadow: 0 2px 2px 1px black;
  }
  div {
    display: flex;
    height: 80px;
    .table-element {
      padding-left: 5px;
      padding-right: 5px;
      width: 100px;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      h3,
      p {
        margin: 0;
        font-size: $smallFontSize;
        color: $mainGreenColor;
      }
      p {
        padding-top: 3px;
        font-size: $extraMiniFontSize;
      }
    }
    .header {
      background-color: transparent;
      font-size: $smallFontSize;
    }
  }
}

.therapist-login {
  line-height: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    text-decoration: underline;
    &:hover {
      cursor: pointer;
    }
  }
  span {
    i {
      margin-left: 5px;
      margin-right: 5px;
    }
    a {
      color: white;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .group-sessions-description {
    width: 80%;
  }
  .group-sessions-wrapper {
    .heading {
      @include headerStyle(column, white, 55px, 20px);
    }
  }
}
