@import "../../../../data/shared-styles/variables-mixins.scss";

#treatments {
  background-color: white;
}

.group-sessions-wrapper {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $mainGreenColor;
  .heading {
    @include headerStyle(row-reverse, white, 35px, 30px);
  }
}

.group-sessions-description > p,
h4 {
  color: rgb(255, 255, 255);
}

.group-sessions-description > p {
  font-family: Work Sans;
  font-weight: 100;
}

.group-sessions-description {
  color: rgb(0, 0, 0);
  z-index: 0;
  max-width: 40.625em;
  text-align: justify;
}

.group-sessions-table-wrapper {
  width: 100%;
  display: flex;
  margin-bottom: 70px;
  overflow-x:scroll;
  -webkit-overflow-scrolling: touch;
}
.group-sessions-table {
  margin: 0 auto;
  position: relative;
  max-width: 41.825em;
  display: flex;
  flex-direction: column;
  .table-header {
    height: 50px;
    color: white;
  }
  .table-row {
    margin: 5px 10px 5px 10px;
    background-color: white;
    box-shadow: 0 0 2px 1px black;
  }
  div {
    display: flex;
    height: 80px;
    .table-element {
      padding-left: 5px;
      padding-right: 5px;
      width: 100px;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      h3,
      p {
        margin: 0;
        font-size: $smallFontSize;
        color: $mainGreenColor;
      }
      p {
        font-size: $miniFontSize;
      }
    }
    .header {
      background-color: transparent;
    }
  }
}

@media only screen and (max-width: 768px) {
  .group-sessions-description {
    max-width: 95%;
  }
  .group-sessions-wrapper {
    .heading {
      @include headerStyle(column, white, 55px, 20px);
    }
  }
}
