#map {
  position: relative;
  width: 500px;
  height: inherit;
  margin-left: 20px;
}

.exercise-picture {
  position: absolute;
  bottom: 15px;
  right: 15px;
  width: 150px;
}

.contacts-wrapper {
  z-index: 0;
  background-color: white;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts-wrapper .contacts-heading {
  margin-top: 30px;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contacts-wrapper .contacts-heading h3 {
  color: #222222;
  font-size: 25px;
  font-weight: 100 !important;
}

.contacts-wrapper .contacts-heading img {
  margin: 22px;
  width: 35px;
  height: auto;
}

.flex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
}

.address-details {
  line-height: 0px;
  color: white;
  background-color: #252F3E;
  width: 500px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: auto;
}

.address-details .logo-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.address-details .logo-wrapper img {
  margin: 20px;
  max-height: 80px;
}

.address-details h4 {
  margin: 20px;
  padding-top: 20px;
  color: white;
}

.address-details p {
  margin: 20px;
  white-space: pre;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.address-details p span {
  text-decoration: underline;
  cursor: pointer;
}

.address-details p:last-child {
  padding-bottom: 20px;
}

.address-details > h4 {
  font-size: 1.563em;
}

@media only screen and (max-width: 768px) {
  .contacts-wrapper .contacts-heading {
    margin-top: 20px;
    margin-bottom: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contacts-wrapper .contacts-heading h3 {
    color: #222222;
    font-size: 25px;
    font-weight: 100 !important;
  }
  .contacts-wrapper .contacts-heading img {
    margin: 22px;
    width: 55px;
    height: auto;
  }
  .flex-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 95%;
  }
  .flex-wrapper .address-details {
    height: 300px;
    width: 100% !important;
    margin: 0 auto;
  }
  #map {
    position: relative;
    width: auto;
    height: 300px;
    margin-left: 0px;
    margin-top: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .exercise-picture {
    visibility: hidden;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1000px) {
  .flex-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: auto;
  }
  .flex-wrapper .address-details {
    height: 300px;
    width: 40.625em;
    margin: 0 auto;
  }
  #map {
    position: relative;
    width: 40.625em;
    height: 300px;
    margin-left: 0px;
    margin-top: 20px;
  }
}
/*# sourceMappingURL=contacts.css.map */