@import "../../../../data/shared-styles/variables-mixins.scss";

#map {
  position: relative;
  width: 500px;
  height: inherit;
  margin-left: 20px;
}

.exercise-picture {
  position: absolute;
  bottom: 15px;
  right: 15px;
  width: 150px;
}

.contacts-wrapper {
  z-index: 0;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  .contacts-heading {
    @include headerStyle(row-reverse, $mainBlackColor, 35px, 30px);
  }  
}

.flex-wrapper {
  display: flex;
  margin-bottom: 100px;
}

.address-details {
  line-height: 0px;
  color: white;
  background-color: #252F3E;
  width: 500px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  height: auto;
  .logo-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    img {
      margin: 20px;
      max-height: 80px;
    }
  }
  h4{
    margin: 20px;
    padding-top: 20px;
    color: white;
  }
  p {
    margin: 20px;
    white-space: pre;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: $miniFontSize;
    span {
      text-decoration: underline;
      cursor:pointer;
    }
    &:last-child {
      padding-bottom: 20px;
    }
  }
}

.address-details > h4 {
  font-size: 1.563em;
}

@media only screen and (max-width: 768px) {
  .contacts-wrapper {
    .contacts-heading {
      @include headerStyle(column, $mainBlackColor, 55px, 20px);
    }  
  }
  .flex-wrapper {
    display: flex;
    flex-direction: column;
    width: 95%;
    .address-details {
      height: 300px;
      width: 100% !important;
      margin: 0 auto;
    }
  }
  #map {
    position: relative;
    width: auto;
    height: 300px;
    margin-left: 0px;
    margin-top: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .exercise-picture {
    visibility: hidden;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1000px) {

  .flex-wrapper {
    display: flex;
    flex-direction: column;
    width: auto;
    .address-details {
      height: 300px;
      width: 40.625em;
      margin: 0 auto;
    }
  }
  #map {
    position: relative;
    width: 40.625em;
    height: 300px;
    margin-left: 0px;
    margin-top: 20px;
  }
}