@import "../../../../data/shared-styles/variables-mixins.scss";

#map {
  position: relative;
  width: 500px;
  height: inherit;
  margin-left: 20px;
  box-shadow: 0px 2px 4px 1px $mainBlackColor;
}

.exercise-picture {
  position: absolute;
  bottom: 15px;
  right: 15px;
  width: 150px;
}

.contacts-wrapper {
  z-index: 0;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  .contacts-heading {
    @include headerStyle(row-reverse, $mainBlackColor, 35px, 30px);
  }
}

.flex-wrapper {
  display: flex;
  margin-bottom: 100px;
}

.fa-icon-wrapper {
  &:hover {
    cursor: default;
  }
  margin-right: 10px;
  margin-left: 20px;
  float: left;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: $mainGreenColor;
  text-align: center;
  .fa-icon-style {
    position: relative;
    top: calc(50% - 7px);
    font-size: 15px;
  }
}

.address-details {
  box-shadow: 0 2px 4px 1px $mainBlackColor;
  line-height: 0px;
  color: $mainBlackColor;
  background-color: #ffffff;
  width: 500px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  height: auto;
  .logo-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    img {
      margin: 20px;
      max-height: 80px;
    }
  }
  h4 {
    margin: 20px;
    padding-top: 20px;
    color: $mainBlackColor;
  }
  p {
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: pre;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: $miniFontSize;
  }
}

.icons-with-text {
  color: $mainBlackColor;
  margin: 5px;
  a {
    color: $mainBlackColor;
  }
  &:nth-last-child(2) {
    margin-bottom: 30px;
    text-decoration: underline;
    &:hover {
      cursor: pointer;
    }
  }
  &:nth-last-child(3) {
    text-decoration: underline;
    &:hover {
      cursor: pointer;
    }
  }
  &:first-of-type {
    margin-bottom: 0;
  }
}

p.icons-with-text:first-child {
  margin: 0;
}

.fa-icon-style {
  color: white;
}

.address-details > h4 {
  font-size: 1.563em;
}

@media only screen and (max-width: 768px) {
  .contacts-wrapper {
    .contacts-heading {
      @include headerStyle(column, $mainBlackColor, 55px, 20px);
    }
  }
  .flex-wrapper {
    display: flex;
    flex-direction: column;
    width: 97%;
    .address-details {
      height: 350px;
      width: 100%;
      margin: 0 auto;
      .logo-wrapper {
        img {
          max-height: 100px;
        }
      }
    }
  }
  #map {
    position: relative;
    width: auto;
    height: 350px;
    margin-left: 0px;
    margin-top: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .exercise-picture {
    visibility: hidden;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1000px) {
  .flex-wrapper {
    display: flex;
    flex-direction: column;
    width: auto;
    .address-details {
      height: 350px;
      width: 40.625em;
      margin: 0 auto;
      .logo-wrapper {
        img {
          max-height: 120px;
        }
      }
    }
  }
 
  #map {
    position: relative;
    width: 40.625em;
    height: 350px;
    margin-left: 0px;
    margin-top: 20px;
  }
}
