@import "../../../../data/shared-styles/variables-mixins.scss";

.prices-wrapper {
  z-index: 0;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.prices-heading {
  @include headerStyle(row-reverse, $mainBlackColor, 35px, 30px);
}

.treatments-list-wrapper {
  display: flex;
  max-width: 45rem;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 60px;
}

.treatments-list {
  width: 45%;
  min-height: 300px;
  color: rgb(0, 0, 0);
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-top: 1px solid black;
  p:nth-child(1) {
    font-size: $midFontSize;
    color: $mainGreenColor;
  }
  p:nth-child(2) {
    font-size: $mainHeaderSize;
    margin: 10px 0px 10px 0px;
  }
  span {
    font-family: Work Sans;
    font-size: 12px;
  }
  p:nth-child(4) {
    font-family: Work Sans;
    line-height: $defaultLineHeight;
    font-size: $miniFontSize;
  }
}

.treatments-list:nth-child(1) {
  border-top: none;
}

.treatments-list:nth-child(2) {
  border-top: none;
}

@media only screen and (max-width: 768px) {
  .treatments-list {
    width: 95%;
  }
  .prices-heading {
    @include headerStyle(column, $mainBlackColor, 55px, 20px);
  }
  .treatments-list:nth-child(1) {
    border-top: 1px solid black;

  }
  
  .treatments-list:nth-child(2) {
    border-top: 1px solid black;
  }
  .treatments-list-wrapper {
    display: flex;
    max-width: 95%;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
}
