@import "../../../../data/shared-styles/variables-mixins.scss";

.therapist-wrapper {
  z-index: 0;
  background-color: #265c42;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  .heading {
    @include headerStyle(row-reverse, white, 35px, 30px);
  }
}

.therapist {
  transition: all 0.3s ease-in-out;
  margin: 0.625em;
  background-color: rgb(0, 0, 0);
  display: flex;
  max-width: 21.875em;
  height: auto;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
}

.therapist-pictures {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 1000px;
  height: auto;
  margin-bottom: 100px;
}

.therapist-info {
  color: rgb(255, 255, 255);
  line-height: 0.625em;
  position: absolute;
  text-align: center;
  display: block;
  pointer-events: none;
  button {
    visibility: hidden;
    font-weight: bold;
    color: white;
    width: 100%;
    margin-bottom: 7%;
    padding: 0.438em;
    font-size: 0.813em;
    border: none;
    border-radius: 0.125em;
    background-color: $secondaryGreenColor;
  }
  p {
    font-size: 0.75em;
  }
  h4,
  p {
    text-shadow: 0px 0px 0.188em black;
  }
}

.therapist-pictures > div {
  border-radius: 0.188em;
}

.therapist-pictures > div > img {
  border-radius: 0.188em;
  width: 300px;
  height: auto;
}

.therapist > img {
  opacity: 1;
  transition: opacity 0.5s;
}

.therapist-details-container {
  overflow: hidden;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  z-index: 4;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: width height 0.5s;
}

.therapist-details {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 10%;
  left: 0;
  right: 0;
  box-sizing: content-box;
  box-shadow: 0px 0px 1.25em black;
  background-color: white;
  max-width: 43.75em;
  height: auto;
  color: black;
  position: absolute;
  animation: slideInDown 0.3s;
  .therapist-content {
    text-indent: 10px;
    background-color: #ffffff;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
    margin: 0;
    font-size: $miniFontSize;
    font-family: Work Sans;
    line-height: $defaultLineHeight;
    white-space: pre-line;
    p {
      margin: 0;
    }
  }
  .therapist-heading {
    background-color: rgb(49, 50, 53);
    height: auto;
    color: white;
    width: 100%;
    position: relative;
    top: 0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    > div {
      p {
        margin: 15px;
        margin-right: 0px;
        font-size: $miniFontSize;
      }
      h3 {
        margin: 15px;
        margin-right: 0px;
      }
    }
    img {
      width: 75px;
      height: 75px;
      border-radius: 50%;
      margin: 0;
      margin-right: 15px;
    }
  }
  .content-box {
    background-color: #ffffff;
    .details {
      display: flex;
      width: 100%;
      overflow: hidden;
      .therapist-techniques {
        padding: 10px;
        width: 50%;
        h4 {
          color: rgb(39, 42, 47);
          margin-left: 10px;
        }
        .MuiChip-root {
          margin: 2px;
          background-color: #265c42;
          color: white;
        }
      }
      .therapist-contacts {
        padding: 10px;
        width: 50%;
        h4 {
          color: rgb(39, 42, 47);
          margin-left: 10px;
        }
        .phone,
        .email {
          display: flex;
          align-items: center;
          a {
            text-decoration: none;
            color: black;
            &:hover {
              text-decoration: underline;
              cursor: pointer;
            }
          }
          div {
            width: 28px !important;
            height: 28px !important;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            background-color: #265c42;
            margin-right: 8px;
            img {
              width: 14px;
              height: 14px;
            }
          }
        }
        .email,
        .phone {
          a {
            text-decoration: underline;
            cursor: pointer;
          }
          p {
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }
    }
  }
}


#fade-out-background {
  opacity: 0;
  transition: opacity 1s;
}

#fade-out {
  animation: fadeOut 0.55s;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

 @keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@media only screen and (min-width: 768px) {
  .therapist-pictures > div > img:hover + .therapist-info button {
    visibility: visible;
    transition: visibility 0.5s;
  }
  .therapist-pictures > div > img:hover {
    opacity: 0.5;
    transition: opacity 0.5s;
    cursor: pointer;
  }
}

@media only screen and (max-width: 768px) {
  .therapist > img {
    opacity: 0.5;
    transition: opacity 0.5s;
  }
  .therapist-mobile-view {
    transition: all 0.2s ease-in-out;
    .therapist-info button {
      visibility: visible;
      transition: visibility 0.5s;
    }
    img {
      opacity: 1;
    }
  }
  .therapist-pictures {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .therapist-details {
    max-width: 95%;
    height: 100%;
    margin: 0;
    position: relative;
    overflow-x: hidden;
    animation: none;
    .therapist-content {
      font-size: 14px;
    }
  }
  .therapist-pictures > div > img {
    border-radius: 0.188em;
    width: 100%;
    height: auto;
  }

  .therapist-details > .content-box > .details {
    display: flex;
    flex-direction: column;
    .therapist-contacts {
      padding: 10px;
      width: auto;
    }
    .therapist-techniques {
      padding: 10px;
      width: auto;
    }
  }
  .therapist-wrapper {
    .heading {
      @include headerStyle(column, white, 55px, 20px);
    }
  }
}
