@import "../../../../data/shared-styles/variables-mixins.scss";
.landing-page {
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: column;
  align-items: left;
  pointer-events: none;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  h3 {
    margin-left: 15%;
    font-size: 30px;
    color: white;
    line-height: 10px;
    text-shadow:  1px 1px 1px black;
    span {
      color: red ;//$secondaryGreenColor
      opacity: 0.6;
      text-shadow:  1px 1px 1px black;
    }
  }
  .right-sentence {
    animation: bounceInRight 1s;
  }
  .left-sentence {
    animation: bounceInLeft 1s;
  }
}

.cover-logo {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  img {
    width: 50%;
    position: relative;
  }
}

@keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0);
  }

  75% {
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    transform: translate3d(5px, 0, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}


@keyframes bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    transform: translate3d(10px, 0, 0);
  }

  90% {
    transform: translate3d(-5px, 0, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@media only screen and (max-width: 768px) {
  .landing-page{
    h3 {
      font-size: 15px;
      margin-left: 5%;
    }
  }
}
