.galery-wrapper {
  display: flex;
  width: 95vw;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  ::-webkit-scrollbar {
    height: 20px;
  }
  
  img {
    margin: 5px;
    cursor: pointer;
  }
}

.react-images__blanket {
  position: absolute;
  z-index: 10000 !important;
}

.react-images__positioner {
  z-index: 10000 !important;
}
