.galery-wrapper {
  display: flex;
  overflow: scroll;
  img {
    margin: 5px;
    cursor: pointer;
  }
}

.react-images__blanket {
  position: absolute;
  z-index: 10000 !important;
}

.react-images__positioner {
  z-index: 10000 !important;
}