.gallery {
  pointer-events: none;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(black, 0.8);
}
.thumbnails-row {
  pointer-events: all;
  display: flex;
  .thumbnails {
    padding: 0px;
    margin: 3px;
    height: 20vh;
    background-color: transparent;
    div {
      opacity: 0.9;
      max-width: 100%;
      width: auto;
      height: auto;
      cursor: pointer;
      &:hover {
        opacity: 1;
      }
    }
  }
}

.react-images__blanket {
  position: absolute;
  z-index: 2000 !important;
}

.react-images__positioner {
  z-index: 2000 !important;
}

@media only screen and (max-width: 768px) {
  .gallery {
    background-color: rgba(black, 0.8);
    .close-gallery {
      top: 5px;
      right: 5px;
    }
  }
}