.galery-wrapper {
  margin-top:50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  .thumbnails {
    padding: 0px;
    margin: 0px;
    width: 101px;
    height: 101px;
    background-color: black;
    img {
      opacity: 0.7;
      max-width: 100%;
      width: auto;
      height: auto;
      cursor: pointer;
      &:hover {
        opacity: 1;
      }
    }
  }
}

.react-images__blanket {
  position: absolute;
  z-index: 10000 !important;
}

.react-images__positioner {
  z-index: 10000 !important;
}

@media only screen and (max-width: 768px) {
  .galery-wrapper {
    width: 350px;
    .thumbnails {
      width: 81px;
      height: 81px;
      img {
        max-width:80px;
      }
    }
  }
}