@import "../../../../data/shared-styles/variables-mixins.scss";

.treatment {
  z-index: 0;
  background-color: rgba(255, 255, 255, 1);
  border-top: 1px solid rgb(143, 143, 143);
  width: 40em;
  color: #212121;
  padding: 10px;
  margin: 0px;
  height: 3em;
  overflow: hidden;
  h3 {
    font-size: $midFontSize;
    color: #000000;
    width: 100%;
    font-weight: 100 !important;
    text-align: left;
    margin-left: 20px;
    margin-top: 10px;
    padding-bottom: 20px;
  }
  p {
    text-align: justify;
    font-size: $smallFontSize;
    font-family: Work Sans;
  }
  
}

.treatments-section-wrapper {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  .heading {
    @include headerStyle(row-reverse, $mainBlackColor, 35px, 30px);
  }
}

.choose-therapist-section {
  .provider-question {
    font-style: italic;
    font-size: 12px;
  }
  .therapist-details-list {
    display: flex;
    p {
      padding:5px;
      margin-left: 5px;
      margin-right: 5px;
      border: 1px solid $mainGreenColor;
      color: $mainGreenColor;
      border-radius: 5px;
      &:hover {
        background-color: rgba($mainGreenColor, .8);
        color: white;
      }
    }
  }
}

.treatments-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: white;
}

@media only screen and (max-width: 768px) {
  .treatment {
    width: 90%;
    p {
      text-align: left;
    }
  }
  .treatments-section-wrapper {
    .heading {
      @include headerStyle(column, $mainBlackColor, 55px, 20px);
    }
  }
}


.load-more {
  left: 0;
  margin-top: 15px;
  position: relative;
  display: block;
  cursor: pointer;
  width: 40px;
  height: 40px;
  float: right;
  animation: "fadeIn 2s ease";
}
.load-more:before {
  position: relative;
  display: block;
  content: "";
  width: 10px;
  height: 10px;
  left: 50%;
  top: 53%;
  margin-top: -15px;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  border-bottom-color: rgb(90, 90, 90);
  border-right-color: rgb(90, 90, 90);
  border-radius: 0 0 5px 0;
  transform: translate(-50%, -50%) rotate(45deg);
  transition: all 0.4s ease-in-out;
  animation: "fadeIn 2s ease";
}

.load-more:after {
  position: relative;
  display: block;
  content: "";
  width: 10px;
  height: 10px;
  left: 50%;
  top: 53%;
  margin-top: -15px;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  border-bottom-color: $secondaryGreenColor;
  border-right-color: $secondaryGreenColor;
  border-radius: 0 0 5px 0;
  transform: translate(-50%, -50%) rotate(45deg);
  transition: all 0.4s ease-in-out;
  animation: "fadeIn 2s ease";
}
