@import "../../../../data/shared-styles/variables-mixins.scss";

.footer-wrapper {
  font-family: Work Sans;
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: #333940;
  align-items: left;
  .pre-footer {
    display: flex;
    background-color: #333940;
    justify-content: space-between;
    .fa-icon-wrapper {
      &:hover {
        cursor: default;
      }
      margin-right: 10px;
      margin-left: 20px;
      float: left;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: rgba($mainBlackColor, 0.7);
      text-align: center;
      .fa-icon-style {
        position: relative;
        top: calc(50% - 7px);
        font-size: 15px;
      }
    }
  }
  .footer {
    display: flex;
    background-color: #202429;
    justify-content: space-around;
    align-items: center;
    height: auto;
    width: 100%;
    line-height: 0;
    font-size: $extraMiniFontSize;
    p {
      padding: 5px;
      color: rgb(179, 179, 179);
      text-align: center;
    }
    a {
      padding: 10px;
      color: rgb(179, 179, 179);
      text-align: center;
      text-decoration: none;
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}

.pre-footer > .navigation {
  padding: 30px;
  max-width: 140px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  color: rgb(179, 179, 179);
  font-size: $miniFontSize;
  text-transform: capitalize;
  a {
    padding: 3px;
    &:hover {
      color: rgba(255, 255, 255, 1);
      cursor: pointer;
      &:hover::after {
        width: 100%;
      }
    }
  }
  img {
    display: none;
  }
  .double-arrow {
    color: white;
  }
}

.icons-credit {
  font-size: $miniFontSize;
  color: rgb(179, 179, 179) !important;
  a {
    color: rgb(179, 179, 179) !important;
  }
}

@media only screen and (max-width: 1000px) {
}

@media only screen and (max-width: 768px) {
  .footer {
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
  }
}
