@import "../../../../data/shared-styles/variables-mixins.scss";

.footer-wrapper {
  font-family: Work Sans;
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: #045e72;
  align-items: left;
  .pre-footer {
    display: flex;
    background-color: $mainGreenColor;
    justify-content: space-between;
  }
  .footer {
    display: flex;
    background-color: #003d4c;
    justify-content: space-around;
    align-items: center;
    height: auto;
    width: 100%;
    line-height: 0;
    font-size: $miniFontSize;
    p {
      padding: 10px;
      color: white;
      text-align: center;
    }
    a {
      padding: 20px;
      color: white;
      text-align: center;
      text-decoration: none;
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}


@media only screen and (max-width: 1000px) {
 
}

@media only screen and (max-width: 768px) {
  .footer {
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
  }
}
