@import "../../../../data/shared-styles/variables-mixins.scss";

.footer-wrapper {
  font-family: Work Sans;
  position: relative;
  width: 100%;
  height: auto;
  background-color: #17263c;
  display: flex;
  flex-direction: column;
  align-items: left;
  p {
    padding-left: 20px;
    color: white;
    margin: 8px;
  }
  .pre-footer {
    display: flex;
    justify-content: space-between;
    .pictures-galery {
      width: 500px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
    .contact-info-footer {
      margin-top: 50px;
      width: 60%;
      .footer-logo {
        margin-bottom: 100px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        img {
          width: 50%;
        }
      }
    }
  }
  .footer-divider {
    width: 100%;
    height: 1px;
    background-color: white;
  }
  .footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: auto;
    width: 100%;
    line-height: 0;
    p {
      padding: 10px;
      color: white;
      text-align: center;
      font-size: 0.813em;
    }
    a {
      padding: 20px;
      color: white;
      text-align: center;
      font-size: 0.813em;
      text-decoration: none;
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .footer-wrapper {
    .pre-footer {
      .contact-info-footer {
        width: 40%;
        .footer-logo {
          img {
            width: 300px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .pre-footer {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .footer {
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
  }
}
