@import "../../../../data/shared-styles/variables-mixins.scss";

.footer-wrapper {
  font-family: Work Sans;
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: #333940;
  align-items: left;
  .pre-footer {
    display: flex;
    background-color: #333940;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: space-around;
  }
  .footer {
    display: flex;
    background-color: #202429;
    justify-content: space-around;
    align-items: center;
    height: auto;
    width: 100%;
    line-height: 0;
    font-size: $extraMiniFontSize;
    p {
      padding: 5px;
      color: rgb(179, 179, 179);
      text-align: center;
    }
    a {
      padding: 10px;
      color: rgb(179, 179, 179);
      text-align: center;
      text-decoration: none;
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}

.studio17-logo-footer {
  margin-left: 5px;
  margin-top: 60px;
  height: 50px;
  width: 200px;
  filter: invert(98%) sepia(97%) saturate(4950%) hue-rotate(193deg) brightness(125%) contrast(107%);  
  background-image: url("../../../../data/images/icons/logo-horizontal-without-logo.svg");
  background-position: center;
  background-size: cover;
}

.pre-footer > .navigation {
  padding: 30px;
  max-width: 140px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  color: rgb(179, 179, 179);
  font-size: $miniFontSize;
  a {
    padding: 3px;
    &:hover {
      color: rgba(255, 255, 255, 1);
      cursor: pointer;
      &:hover::after {
        width: 100%;
      }
    }
  }
  img {
    display: none;
  }
  .double-arrow {
    color: white;
  }
}

.fa-lock {
  margin-right: 11px;
  display: inline;
  font-size: 19px;
  color: #ffffff;
}
.fa-icons {
  margin-right: 10px;
  display: inline;
  font-size: 19px;
  color: #ffffff;
}

.fa-bug {
  margin-right: 10px;
  display: inline;
  font-size: 19px;
  color: #ffffff;
}

.privacy-policy-link {
  text-decoration: none;
  font-size: $extraMiniFontSize;
  color: rgb(179, 179, 179);
  &:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 1);
    text-decoration: underline;
  }
}

.icons-credit {
  font-size: $extraMiniFontSize;
  color: rgb(179, 179, 179);
  a {
    color: rgb(179, 179, 179);;
    &:hover {
      color: rgba(255, 255, 255, 1);
    }
  }
}

.aditional-description-with-icons {
   width:auto;
   padding: 30px;
   > * {
     padding: 5px;
   }
}

.error-report {
  display: flex;
  align-items: center;
  font-size: $extraMiniFontSize;
  color: white;
  p {
    margin: 0;
    color: rgb(179, 179, 179);;
    &:hover {
      color: rgba(255, 255, 255, 1);
      cursor: pointer;
      text-decoration: underline;
    }
  }
}


@media only screen and (max-width: 768px) {
  .pre-footer {
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
    .studio17-logo-footer {
      display: none;
    }
    .aditional-description-with-icons {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .pre-footer > .navigation {
    display: none;
  }
}
