@import "../../../../data/shared-styles/variables-mixins.scss";

.footer-wrapper {
  font-family: Work Sans;
  position: relative;
  width: 100%;
  height: auto;
  background-color: #17263c;
  display: flex;
  flex-direction: column;
  align-items: left;
  p {
    padding-left: 20px;
    color: white;
    margin: 8px;
  }
  .pre-footer {
    display: flex;
    justify-content: space-between;
    .pictures-galery {
      max-width: 500px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
  }
  .footer-divider {
    width: 100%;
    height: 1px;
    background-color: white;
  }
  .footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: auto;
    width: 100%;
    line-height: 0;
    font-size: $miniFontSize;
    p {
      padding: 10px;
      color: white;
      text-align: center;
    }
    a {
      padding: 20px;
      color: white;
      text-align: center;
      text-decoration: none;
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}

.contact-description {
  display: flex;
  justify-content: center;
  width: 500px;
  height: 100%;
  iframe {
    margin-top: 50px;
  }
}

@media only screen and (max-width: 1000px) {
  .footer-wrapper {
    .pre-footer {
      .contact-info-footer {
        width: 40%;
      }
    }
  }
  .contact-description {
    width: 400px;
  }
}

@media only screen and (max-width: 768px) {
  .pre-footer {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .footer {
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
  }
}
