.main-navbar {
  width: 100%;
  width: 100vw;
  font-size: 0.8125rem;
  position: fixed;
  padding: 0;
  padding-top: 2.375em;
  padding-bottom: 2.375em;
  overflow: visible;
  height: 2.125em;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.6);
  white-space: nowrap;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.main-navbar img {
  height: 50px;
  width: auto;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.main-navbar .navigation {
  color: rgba(255, 255, 255, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-navbar div > a {
  margin-right: 1.875em;
  color: rgba(255, 255, 255, 0.8);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.main-navbar div > a img {
  padding: 5px;
  width: 30px;
  height: 30px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.main-navbar a:last-child {
  margin-right: 1.25em;
}

.main-navbar a::after {
  content: "";
  margin-top: 0.313em;
  display: block;
  width: 0;
  height: 1px;
  background: white;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

.main-navbar a:hover {
  color: white;
  cursor: pointer;
}

.main-navbar a:hover::after {
  width: 100%;
}

.main-navbar #front-mobile-logo {
  margin-top: -8px;
  width: auto;
  height: 40px;
}

.main-navbar-shrink {
  width: 100%;
  width: 100vw;
  font-size: 0.8125rem;
  position: fixed;
  padding: 0;
  padding-top: 1em;
  padding-bottom: 1em;
  overflow: visible;
  height: 2.125em;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.8);
  white-space: nowrap;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.main-navbar-shrink img {
  visibility: none;
  height: 37px;
  width: auto;
  margin-top: -2px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.main-navbar-shrink .navigation {
  color: rgba(255, 255, 255, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-navbar-shrink div > a {
  margin-right: 1.875em;
  margin-top: 8px;
  color: rgba(255, 255, 255, 0.8);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.main-navbar-shrink div > a img {
  width: 0px;
  height: 0px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.main-navbar-shrink a:last-child {
  margin-right: 1.25em;
}

.main-navbar-shrink a::after {
  content: "";
  margin-top: 0.313em;
  display: block;
  width: 0;
  height: 1px;
  background: white;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

.main-navbar-shrink a:hover {
  color: white;
  cursor: pointer;
}

.main-navbar-shrink a:hover::after {
  width: 100%;
}

.main-navbar-shrink #front-mobile-logo {
  margin-top: -8px;
  width: auto;
  height: 40px;
}

.main-navbar-shrink .languagepicker {
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.7);
          box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.7);
}

.double-arrow {
  color: #2caf27;
}

.helperDiv {
  position: absolute;
  top: 110vh;
  margin: 0 auto;
  height: 100%;
  z-index: 0;
  background-color: black;
}

.up-button {
  z-index: 1;
  width: 5em;
  height: 5em;
  position: fixed;
  top: 80%;
  right: 3%;
}

.up-button > img {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.3;
}

.up-button > img:hover {
  cursor: pointer;
  opacity: 0.5;
}

.visible {
  -webkit-animation: bounceInRight 1s;
          animation: bounceInRight 1s;
}

.hidden {
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  pointer-events: none;
  cursor: none;
}

.up-button > a > img:hover {
  cursor: pointer;
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

@-webkit-keyframes bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
            transform: translate3d(3000px, 0, 0);
  }
  60% {
    opacity: 0.7;
    -webkit-transform: translate3d(-25px, 0, 0);
            transform: translate3d(-25px, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
            transform: translate3d(-5px, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
            transform: translate3d(3000px, 0, 0);
  }
  60% {
    opacity: 0.7;
    -webkit-transform: translate3d(-25px, 0, 0);
            transform: translate3d(-25px, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
            transform: translate3d(-5px, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@media only screen and (max-width: 1000px) {
  .main-navbar {
    position: fixed;
    top: 0;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: rgba(0, 0, 0, 0.8);
  }
  .main-navbar-shrink {
    padding-top: 1em;
    padding-bottom: 1em;
  }
  .up-button {
    visibility: hidden;
  }
}
/*# sourceMappingURL=navbar.css.map */