@import "../../../../data/shared-styles/variables-mixins.scss";

.main-navbar {
  width: 100%;
  width: 100vw;
  font-size: $extraMiniFontSize;
  position: fixed;
  padding: 0;
  padding-top: 2.375em;
  padding-bottom: 2.375em;
  overflow: visible;
  height: 2.125em;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.6);
  white-space: nowrap;
  transition: all 0.3s;
  img {
    height: 50px;
    width: auto;
    transition: all 1s;
  }
  .navigation {
    color: rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  div > a {
    margin-right: 20px;
    color: rgba(255, 255, 255, 0.8);
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;

    img {
      padding: 5px;
      width: 30px;
      height: 30px;
      transition: all 1s;
    }
  }
  a:last-child {
    margin-right: 1.25em;
  }
  a::after {
    content: "";
    margin-top: 0.313em;
    display: block;
    width: 0;
    height: 1px;
    background: rgb(255, 255, 255);
    transition: width 0.3s;
  }
  .languagepicker {
    margin-top: -4px;
    box-shadow: 0px 0px 20px 1px rgba(black, 0.7);
  }
  a:hover {
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
    &:hover::after {
      width: 100%;
    }
  }

  #front-mobile-logo {
    margin-top: -8px;
    width: auto;
    height: 40px;
  }
  transition: all 1s;
}

.main-navbar-shrink {
  width: 100%;
  width: 100vw;
  font-size: $extraMiniFontSize;
  position: fixed;
  padding: 0;
  padding-top: 1em;
  padding-bottom: 1em;
  overflow: visible;
  height: 2.125em;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.8);
  white-space: nowrap;
  transition: all 0.3s;
  img {
    visibility: none;
    height: 37px;
    width: auto;
    margin-top: -2px;
    transition: all 1s;
  }
  .navigation {
    color: rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  div > a {
    margin-right: 1.875em;
    margin-top: 8px;
    color: rgba(255, 255, 255, 0.8);
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    img {
      width: 0px;
      height: 0px;
      transition: all 1s;
    }
  }
  a:last-child {
    margin-right: 1.25em;
  }
  a::after {
    content: "";
    margin-top: 0.313em;
    display: block;
    width: 0;
    height: 1px;
    background: rgb(255, 255, 255);
    transition: width 0.3s;
  }
  a:hover {
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
  }
  a:hover::after {
    width: 100%;
  }
  #front-mobile-logo {
    margin-top: -8px;
    width: auto;
    height: 40px;
  }
  .languagepicker {
    background-color: rgba(black, 0.5);
    box-shadow: 0px 0px 20px 1px rgba(black, 0.7);
  }
  transition: all 1s;
  .underline {
    color: rgba(255, 255, 255, 1);
    &::after {
      width: 100%;
    }
  }
}


.double-arrow {
  color: $secondaryGreenColor;
}

.helperDiv {
  position: absolute;
  top: 110vh;
  margin: 0 auto;
  height: 100%;
  z-index: 0;
  background-color: black;
}

.up-button {
  z-index: 1;
  width: 5em;
  height: 5em;
  position: fixed;
  top: 80%;
  right: 3%;
}

.up-button > img {
  transition: opacity 0.3s;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.5;
  &:hover {
    cursor: pointer;
    opacity: 0.6;
  }
}

.visible {
  animation: bounceInRight 1s;
}

.hidden {
  opacity: 0;
  transition: opacity 1s;
  pointer-events: none;
  cursor: none;
}

.up-button > a > img:hover {
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.3s;
}
@keyframes bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 0.7;
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    transform: translate3d(10px, 0, 0);
  }

  90% {
    transform: translate3d(-5px, 0, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@media only screen and (max-width: 1000px) {
  .main-navbar {
    position: fixed;
    top: 0;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: rgba(black, 0.8);
  }
  .main-navbar-shrink {
    padding-top: 1em;
    padding-bottom: 1em;
  }
  .up-button {
    visibility: hidden;
  }
}
