@import "../../../../data/shared-styles/variables-mixins.scss";

.languagepicker {
  font-size: 12px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  min-width: fit-content;
  color: rgba(255, 255, 255, 0.7);
  overflow: visible;
  background-color: rgba(0, 0, 0, 0.3);
  display: inline-block;
  padding: 0;
  overflow: hidden;
  transition: all 0.3s ease;
  margin: 0 1em 0.625em 0;
  border-radius: 0.313em;
  cursor: pointer;
  height: 2.5em;
}

.languagepicker li {
  display: block;
  padding: 0px 1.25em;
  line-height: 2.5em;
}

.languagepicker a:first-child li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  background: transparent;
}

.languagepicker li img {
  margin-right: 0.6em;
  width: auto;
  height: 0.75em;
}

@media only screen and (min-width: 1000px) {
  .languagepicker {
    margin: 0 3.625em 0.625em 0;
    &:hover {
      height: 5em;
    }
    li:hover {
      background-color: transparent;
      color: white;
      cursor: pointer;
    }
  }
}
