.swipeable-modal {
  .MuiBackdrop-root {
    background-color: transparent !important;
  }

  .MuiPaper-elevation16 {
    box-shadow: none !important;
    background-color: transparent !important;
  }
}
