html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  ::-webkit-scrollbar {
    display: none;
  }
  font-family: Arbutus Slab;
  /* font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace; */
}

#root {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  html,
  body {
    -webkit-overflow-scrolling: touch;
  }
}
$smallFontSize: 15px;
$midFontSize: 17px;
$mainHeaderSize: 22px;
$mainBlackColor: #222222;
$mainGreenColor: #265c42;
$mainRedcolor: #EB4335;
$mainBlackColor: #222222;
$darkGreenColor: #1F2614;
$mainGreenColor: #265c42;
$secondaryGreenColor:rgb(44, 175, 39);
$mainOpacity: 0.7;

@import "./data/shared-styles/shared-animations";