html,
body {
  margin: 0;
  padding: 0;
  background-color: transparent;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  ::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* IE 11 */
    scrollbar-width: none; /* Firefox 64 */
  font-family: Arbutus Slab;
  font-size: 100%;
  line-height: 100%;
  /* font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace; */
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  html,
  body {
    -webkit-overflow-scrolling: touch;
  }
}

@import "./data/shared-styles/shared-animations";