.cover-img {
  display: table;
  top: 0;
  z-index: -1;
  position: fixed;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  opacity: 1;
  filter: blur(0px);
  transition: all 1s;
  background-color: black;
  background-position: center;
  background-size: cover;
}

.cover-desktop {
  background-image: url('../../../../data/images/cover-big.jpg');
}

.cover-mobile {
  background-image: url('../../../../data/images/cover-small.jpg');
}


.blur-img {
    filter: blur(2px);
    transition: all 1s;
}

@-moz-document url-prefix() {
  .blur-img {
      filter: blur(0px);
      transition: all 1s;
  }
}

@media only screen and (max-width: 768px) {}
