.cover-img {
  display: table;
  top: 0;
  z-index: -1;
  position: fixed;
  margin: 0 auto;
  background-color: black;
  img {
    opacity: 1;
    filter: blur(0px);
    transition: all 1s;
  }
}

.blur-img {
  img {
    filter: blur(2px);
    transition: all 1s;
  }
}

@-moz-document url-prefix() {
  .blur-img {
    img {
      filter: blur(0px);
      transition: all 1s;
    }
  }
}

@media only screen and (max-width: 768px) {}
