.cover-img {
  top: 0;
  z-index: -1;
  position: fixed;
  height: 100%;
  transform: scale(1.1);
  background-color: black;
  img {
    position: absolute;
    background-size: cover;
    margin: 0 auto;
    opacity: 1;
    filter: blur(0px);
    transition: all 1s;
  }
}

.blur-img {
  img {
    filter: blur(2px);
    transform: scale(0.95);
    transition: all 1s;
  }
}


@media only screen and (max-width: 768px) {
  .cover-img {
    top: 0;
    z-index: -1;
    position: fixed;
    height: 100%;
    background-color: black;
    img {
      position: absolute;
      background-size: cover;
      margin: 0 auto;
    }
  }
}
